<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>

  <h1>Overview</h1>
  <hr>
  <br><img src="img/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg" alt="Image of the Solar System"><br><br>
  <p> Formed 4.6 billion years ago, the Solar System is composed of 8 planets, which orbit around the sun. These planets are Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune.</p> 
  
  <p>The purpose of this website is to provide broad overview of the inner planets (Mercury, Venus, Earth, Mars), as well as the Sun. These pages are present as "routes" on the navigation sidebar on the left of the screen. Each page provides brief (50+ words) summaries of a given planet. Except for this page, images are fetched randomly via the unsplash API using the name of the planet as part of the search term. Each page is rendered using partials, including header and footer. Styling is performed using Bootstrap (CDN), JQuery and CSS (external files).</p> 
  <p>Source: <a href="https://en.wikipedia.org/wiki/Solar_System"> Wikipedia </a></p>

<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>
