<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>

  <h1>Mars</h1>
  <hr>
  <br><img src="<%= marsUrl %>" alt="Image of Mars"><br><br>
  <p>Mars is the fourth planet from the Sun and much smaller than the Earth. Each of its days lasts a little more than 24 hours and each of its years lasts 687 days.  Although it has a thin atmosphere, its surface is rugged and cannot support life. Its soil contains iron minerals which rust and give its atmosphere its signature red appearance.</p>
  <p>Source: <a href="https://solarsystem.nasa.gov/planets/mars/overview/">NASA Science </a></p>

<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>