<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>

  <h1>Mercury</h1>
  <hr>
  <br><img src="<%= mercuryUrl %>" alt="Image of Mercury"><br><br>
  <p>Mercury is a small planet which orbits closest to the Sun. Its surface has extreme temperatures, ranging from -173C to 427C. It’s size and heat prevent it from retaining atmosphere, which in turn leads to its extreme temperatures. It is the smallest planet in the Solar System and each of its years lasts about 88 days.</p>
  <p>Source: <a href="https://en.wikipedia.org/wiki/Mercury_(planet)">  Wikipedia</a>

<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>