<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>

  <h1>Venus</h1>
  <hr>
  <br><img src="<%= venusUrl %>" alt="Image of Venus"><br><br>
  <p>Venus is the second planet from the Sun and comparable to the Earth in terms of its size. Unlike the earth, Venus’ atmosphere is toxic, and its surface is extremely hot. Its days are very long, taking 243 days to rotate once. However, its years are faster compared to Earth’s, with one year lasting 225 days.</p>
  <p>Source: <a href="https://solarsystem.nasa.gov/planets/venus/overview/"> NASA Science </a></p>

<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>